.error-box{
    display: block;
    border: #C00 1px solid;
    border-radius: 3px;
    background-color: #CCC;
    color: #C00;
    padding: 10px;
    margin: 1em;
}


@media (prefers-color-scheme: dark) {
    .error-box{
        background: #333333;
        border: 1px solid #444444;
        color: #933;
    }
}